{% extends "layout.html" %}

{% block main %}
<form method="POST" action="/update/{{req_id}}" 
    onsubmit="return checkValidity()">
    <div class="form-group">
        <div>
            <label class="form-control-label" for="change_uname">Change Username</label>
            <input class="form-control-input" type="checkbox" id="change_uname" 
             name="change_uname" onchange="editUsernameToggle()">
        </div>
        
        <div>
            <label class="form-control-label" for="change_pass">Change Password</label>
            <input class="form-control-input" type="checkbox" id="change_pass"
             name="change_pass" onchange="editPasswordToggle()">
        </div>
   </div>
    <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control" type="text" id="username" name="username" required
            onblur="checkUniqueness(this)"  data-unique='-1' value="{{session.username or ''}}" 
             disabled>
    </div>
    <div class="form-group" id="oldpass_field">
        <label for="id">Current Password</label>
        <input class="form-control" type="password" id="opassword" name="opassword" 
         placeholder="Current Password" disabled required>
    </div>
    <div id="change_pass_fields">
        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" type="password" id="password"  placeholder="New Password"
            name="password" minlength="8" disabled required>
        </div>
        <div class="form-group">
            <label for="cpassword">Confirm Password</label>
            <input class="form-control" type="password" id="cpassword"  placeholder="Confirm Password"
            onblur="checkPasswordMatch()" minlength="8" disabled required>
        </div>
    </div>
    <input type="submit" id="submit_button" class="btn btn-primary" value="submit" disabled>
    <a href="/" class="btn btn-secondary">Cancel</a>
</form>
<script>
    var unamec = false;
    var passc = false;
    var STATUS_VALUES = 
        {
            '-1': false, // untested
            '0': false, // invalid
            '1': true // valid
        }
       
    function toggleForm()
    {
        if (unamec || passc)
        {
            document.getElementById('submit_button').disabled = ''
            document.getElementById('opassword').disabled = ''
        }
        else
        {
            document.getElementById('submit_button').disabled = 'disabled'
            document.getElementById('opassword').disabled = 'disabled'
        }
    }

    function editUsernameToggle()
    {
        let unamefield = document.getElementById('username')
        if (document.getElementById('change_uname').checked)
        {
            unamefield.disabled = ''
            unamec = true
        }
        else
        {
            unamefield.disabled = 'disabled'
            unamec = false
        }
        toggleForm()
    }

    function editPasswordToggle()
    {
        let npass = document.getElementById('password')
        let cpass = document.getElementById('cpassword')
        let divbox = document.getElementById('change_pass_fields')
        if (document.getElementById('change_pass').checked)
        {
            divbox.style.display = ''
            npass.disabled = ''
            cpass.disabled = ''
            passc = true
        }
        else
        {
            divbox.style.display = 'none'
            npass.disabled = 'disabled'
            cpass.disabled = 'disabled'
            passc = false
        }
        toggleForm()
    }
    function checkValidity()
    {
        return checkPasswordMatch() && checkUniqueness()
    }

        function checkPasswordMatch()
        {
            if (!passc)
                return true
            let pass = document.getElementById('password').value
            let cpass = document.getElementById('cpassword')
            if (cpass.value != pass)
            {
                cpass.setCustomValidity('Password and confirm password does not match')
                return false
            }
            else
            {
                cpass.setCustomValidity('')
                return true
            }
        }
        function checkUniqueness(calle, callOnSubmit=false)
        {
            if(!unamec)
                return true
            if (calle)
                calle.setAttribute('data-unique', '-1')
            let tocheck = ''
            let uname = document.getElementById('username')
            let values = {'check_on': tocheck}
            if (uname.value.trim() == '')
                uname.setCustomValidity('username cannot be empty')
            else if (!STATUS_VALUES[uname.getAttribute('data-unique')])
            {
                tocheck += 'username,'
                values['username'] = uname.value
                values['uid'] = '{{ req_id }}'
            }
            else
            {
                uname.setCustomValidity('')
            }

            if (tocheck == '')
                return
            values['check_on'] = tocheck
            $.ajax(
                {
                    url: '/validate_data',
                    type: 'post',
                    data: values,
                    success: function(response)
                    {
                        if (response.check_on.includes('username'))
                        {
                            let v = document.getElementById('username')
                            if (response.username.toLowerCase() == 'taken' ) 
                            {
                                v.setAttribute('data-unique', '0')
                                v.setCustomValidity('username already taken')    
                            }
                            else if (response.username.toLowerCase() == 'not taken')
                            {
                                v.setAttribute('data-unique', '1')    
                                v.setCustomValidity('')    
                                usernameok = true
                            }
                            else
                            {
                                v.setAttribute('data-unique', '0')
                            }
                        }

                        
                        if (callOnSubmit)
                        {
                            document.getElementById('myform').requestSubmit()
                        }
                            
                    }
                });
        }
        editPasswordToggle()
        editUsernameToggle()
</script>
{% endblock%}
